# APP
NODE_ENV=development
PORT=3000

# DATABASE URL
# Usada por seeds / migrations / scripts que leen data-source.ts
DATABASE_URL=postgresql://postgres:TU_PASSWORD_LOCAL@localhost:5432/TU_DB_LOCAL

# DATABASE
# Usada por la app en desarrollo
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=TU_PASSWORD_LOCAL
DB_NAME=colibri_db

# SWAGGER
SWAGGER_ENABLED=true

# JWT
JWT_SECRET=una_clave_larga_y_secreta_aqui
JWT_EXPIRES_IN=1h

# GOOGLE AUTH
GOOGLE_CLIENT_ID=tu_client_id_aqui
GOOGLE_CLIENT_SECRET=tu_client_secret_aqui
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

# FRONTEND
FRONTEND_URL=http://localhost:3000